@{
    ViewData["Title"] = "Теория";
}
<div>
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Theory" asp-action="CreateTheoryView">CreateTheory</a>



<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">Название Главы</h5>
                    </li>
                    <li class="list-group-item">Время изучения</li>
                    <li class="list-group-item">Количество Глав</li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Просмотр</a>
                        <a href="#" class="btn btn-primary">Редактирование</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">Название Главы</h5>
                    </li>
                    <li class="list-group-item">Время изучения</li>
                    <li class="list-group-item">Количество Глав</li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Просмотр</a>
                        <a href="#" class="btn btn-primary">Редактирование</a>
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</div>