@{
    ViewData["Title"] = "Вход";
}
<div>
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<form method="post">
    <div class="text-center mb-2">
        <input type="submit" value="Войти" class="btn btn-primary" />
    </div>
</form>